body{
	margin: 0;
	font-family: roboto;
	height: 2000px;
}
header{
	color: white;
	background: #DC3431;
}
.menu{
	background: #F44336;
	display: flex;
	align-items: center;
	padding-left: 25px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
}
.logo{
	display: flex;
	align-items: center;
}
.logo p{
	display: inline;
	margin: 0 10px;
	font-size: 22px;
	font-weight: 100;
	padding: 6px 0;
}
nav{
	display: block;
	width: 100%;
}
ul{
	display: flex;
	height: 64px;
	margin: 0;
	position: relative;
}
li{
	list-style: none;
}
li:hover{
	background: rgba(0,0,0,.1);
}
.menu a{
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
	height: 64px;
	margin: 0 25px;
	display: flex;
	align-items: center;
}
.espacio{
	width: 60%;
}
.espacio:hover{
	background: #F44336;
}
.ultimo{
	position: absolute;
	right: 25px;
}
.contenedor{
	width: 920px;
	height: 332px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 64px;
}
.textos{
	width: 45%;
}
.textos h1{
	font-weight: 100;
	font-size: 30px;
}
.textos p{
	font-weight: 100;
}
.textos a{
	background: white;
	display: inline-block;
	color: #F44336;
	padding: 12px 40px;
	text-decoration: none;
	border-radius: 3px;
	margin-top: 20px;
	box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}
